<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MoviesWebApp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<header class="header">
    <h1>🎬 MoviesWebApp</h1>
</header>

<main class="container">
    {% block content %}{% endblock %}
</main>

<footer class="footer">
    <p>Built with Flask & SQLAlchemy</p>
</footer>

</body>
</html>
