{% extends "base.html" %}
{% block content %}

<div class="page-header">
    <h2>🎬 Users</h2>
</div>

<div class="movie-grid">
    {% for user in users %}
        <div class="movie-card">
            <h3>{{ user.name }}</h3>

            <form action="{{ url_for('user_movies', user_id=user.id) }}" method="POST">
                <input
                    type="password"
                    name="password"
                    placeholder="Enter password"
                    required
                >
                <button type="submit">Access Movies</button>
            </form>
        </div>
    {% endfor %}
</div>

<div class="add-box">
    <h3>Add User</h3>
    <form method="post" action="{{ url_for('add_user') }}">
        <input type="text" name="name" placeholder="Username" required>
        <input type="password" name="password" placeholder="Password" required>
        <button type="submit">Add User</button>
    </form>
</div>

{% endblock %}
